body{
    background-color: rgb(233, 233, 233)!important;
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

img{
    border-radius: 5px;
}

#custom-button{
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
    transition: all 0.3s ease;
}

#custom-button:hover{
    background-color: green;
    color: white;
}
#brand-name{
    font-family: 'Bangers', cursive;
    font-size: 28px;
    color: green;
}

#navigation{
    background-color: rgb(255, 255, 255);
}

#main-container{
    background-color: rgba(194, 194, 194, 0);
    padding: 20px 0px 0px 0px;
    background-image: url("/public/res/forest.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
}

#container-1{
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    padding: 10px;
}

#container-2{
    background-color: white;
    margin-top: 100px;
    padding: 10px;
}

#container-3{
    background-color: white;
    padding: 10px;
}